body,html{
    padding-top: 68px;
    padding-bottom: 50px;
    width:100%;
    height:75%;
}
#policy{
    margin-left: 550px;
    width:150px;
    height: 130px;
}
#claim{
    margin-top:30px;
    background-color: rgb(41, 116, 214);
    margin-left:400px;
    margin-right: 1200px;
    width:300px;
    height:50px;
    line-height: 0rem;
    color: floralwhite;
    font-family: serif;
    font-size: 30px;
    border-color: floralwhite;}
.title_box{
    background-color: rgb(136, 173, 223) ;
    color:whitesmoke;
    font-family: serif;
    margin-bottom:-5px ;
    padding-left: 10px;
}
.container{
    margin-top: -100px;
    width:100%;
    height:75%;
}
label{
    font-family: serif;
    font-size: 20px;
    color: rgb(8, 85, 185);
}
input[type="text"]{
    width:350px;
    color: grey;
    border-radius: 10px;
    height:35px;
    border-color: whitesmoke;
    font-family: serif;
}
input[type='text']:active{
    border-radius:10px;
    border-color: peachpuff;
}
#textview{
    width:350px;
    border-radius: 10px;
} 
#center-text {          
display: flex;
flex: 1;
flex-direction:column; 
justify-content: center;
align-items: center;  
height:100%;

}
#chat-circle {
position: fixed;
bottom: 50px;
right: 50px;
background:rgb(136, 173, 223);
width: 80px;
height: 80px;  
border-radius: 70%;
color: white;
padding: 28px;
cursor: pointer;
}

#chat-overlay {
background: rgba(255,255,255,0.1);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 50%;
display: none;
}


.chat-box {
display:none;
background: #efefef;
position:fixed;
right:30px;
bottom:50px;  
width:350px;
max-width: 85vw;
max-height:100%;
border-radius:5px;  
/*   box-shadow: 0px 5px 35px 9px #464a92; */
}
.chat-box-toggle {
float:right;
margin-right:15px;
cursor:pointer;
}
.chat-box-header {
background:rgb(136, 173, 223);
height:70px;
border-top-left-radius:5px;
border-top-right-radius:5px; 
color:white;
text-align:center;
font-family: serif;
font-size:20px;
padding-top:17px;
}
.chat-box-body {
position: relative;  
height:370px;  
height:auto;
border:1px solid white;  
overflow: hidden;
}
.chat-box-body:after {
content: "";
background-color: white;
opacity: 0.1;
top: 0;
left: 0;
bottom: 0;
right: 0;
height:100%;
position: absolute;
z-index: -1;   
}
#chat-input {
background: #f4f7f9;
width:100%; 
position:relative;
height:47px;  
padding-top:10px;
padding-right:50px;
padding-bottom:10px;
padding-left:15px;
border:none;
resize:none;
outline:none;
border:1px solid #ccc;
color:#888;
border-top:none;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
overflow:hidden;  
}
.chat-input > form {
margin-bottom: 0;
}
#chat-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #ccc;
font-family: serif;
}
.chat-submit {  
position:absolute;
bottom:3px;
right:10px;
background: transparent;
box-shadow:none;
border:none;
border-radius:50%;
color:rgb(136, 173, 223);
width:35px;
height:35px;  
}
.chat-logs {
padding:15px; 
height:370px;
overflow-y:scroll;
}
.chat-logs::-webkit-scrollbar-track
{
background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar
{
width: 5px;  
background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar-thumb
{
background-color:rgb(136, 173, 223);
}



@media only screen and (max-width: 500px) {
.chat-logs {
    height:100%;
}
}

.chat-msg.user > .msg-avatar img {
width:45px;
height:45px;
border-radius:50%;
float:left;
width:15%;
}
.chat-msg.self > .msg-avatar img {
width:45px;
height:45px;
border-radius:50%;
float:right;
width:15%;
}
.cm-msg-text {
background:white;
padding:10px 15px 10px 15px;  
color:#666;
max-width:75%;
float:left;
margin-left:10px; 
position:relative;
margin-bottom:20px;
border-radius:30px;
}
.chat-msg {
clear:both;    
}
.chat-msg.self > .cm-msg-text {  
float:right;
margin-right:10px;
background: #5A5EB9;
color:white;
}
.cm-msg-button>ul>li {
list-style:none;
float:left;
width:50%;
}
.cm-msg-button {
clear: both;
margin-bottom: 70px;
}
.userText {
color: white;
font-family: serif;
font-size: 17px;
text-align: right;
line-height: 30px;
}

.userText span {
background-color: #009688;
padding: 10px;
border-radius: 2px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
}

.botText {
color: white;
font-family: serif;
font-size: 17px;
text-align: left;
line-height: 30px;
width:75%;
}

.botText span {
background-color:rgb(136, 173, 223);
padding: 10px;
border-radius: 2px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}